nav,
main,
footer {
	width: 80%;
	margin: 0 auto;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
nav ul {
	display: flex;
	width: 70%;
	justify-content: space-around;
}

footer {
	display: flex;
	/* height: 150px; */
	align-items: center;
}

nav ul li,
footer ul li {
	list-style: none;
}

footer .image-container {
	height: 150px;
	width: 25%;
}

.footer-img {
	height: 100%;
}

.links {
	display: flex;
	justify-content: space-between;
}
.doormat-nav,
.contacts,
.social-links {
	width: 25%;
}

footer h3 {
	text-align: center;
}
